<div>
  <div>
    <span>Rule: </span>
    <nz-select style="width: 120px;" [(ngModel)]="ruleStr">
        <nz-option nzValue="Go" nzLabel="Go"></nz-option>
        <nz-option nzValue="Renju" nzLabel="Renju"></nz-option>
        <nz-option nzValue="Gomuku" nzLabel="Gomuku"></nz-option>
    </nz-select>
  </div>
  <div *ngIf="ruleStr === 'Go'">
    <span>Size: </span>
    <nz-radio-group [(ngModel)]="sizeStr">
      <label nz-radio nzValue="9">9</label>
      <label nz-radio nzValue="13">13</label>
      <label nz-radio nzValue="19">19</label>
    </nz-radio-group>
  </div>
</div>
